@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #e7fbff;
    font-family: "Montserrat", sans-serif;
    color: #7c7b7c;
    background-image: url(Img/doctor-crossing-arms-while-holding-stethoscope-white-coat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-size: 150%;
}

.titulo{
    font-size: 200%
}

#calculadora{
    background: white;
    /* Con estas tres lineas vamos hacer que los divs queden de lado a lado */
    width: 50%;
    height: 100%;
    float: left;
}

#detalle{
    background: #00afce;
    /*Con estas tres lineas vamos hacer que los divs queden lado a lado*/
    width: 50%;
    height: 100%;
    float: left;
    color: #F6F5F7;
    background-image: url(Img/fondo.jpg);
    background-repeat: no-repeat;
}

.contenido{
    /* Estas tres lineas van a centar el contenido verticalmente dentro de cada div */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
    padding-left: 5%;
}


input{
    width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: #EEE;
    margin-top: 10px;
}

button{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 30px;
    background-color: #00afce;
    border: 1PX solid #00afce;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
}

button:active{
    transform: scale(0.95);
    box-shadow: 5px;
    background-color: #FFFFFF;
    border: 1PX solid #00afce;
    color: #00afce;
}

#calcular{
    margin-top: 10px;
}

#contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontal */
    position: absolute;
    inset: 0;
    margin: auto; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#error{
    color: red;
    font-weight: bold;
    display: none;
}

.resutado{
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}

#flu{
    color: #0A81D1;
    font-size: 200%;
    font-weight: 600;
}

#man{
    margin-top: -8%;
    color: #0A81D1;
    font-size: 200%;
    font-weight: 600;
}

#sup{
    margin-top: 0%;
    color: #0A81D1;
    font-size: 200%;
    font-weight: 600;

}

.texto2{
margin-top: 10px;
}

.texto3{
    margin-top: 10px;
}

